@import "~antd/dist/antd.css";

* {
  font-family: 'Ramabhadra', sans-serif;
}

header {
  background-color: rgba(47, 47, 148, 0.774);
  color: #FFFFFE;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 5px;
  font-size: 40px;
}

.App .table {
  margin: 4em;
}

.ant-table-column-title {
  color: black;
  font-weight: bold;
}

.ant-table-tbody td {
  cursor: pointer;
}

.ant-table-thead tr {
  background-color: rgba(47, 47, 148, 0.774);
}

.searchBox {
  text-align: center;
  margin: 25px 25px;
}

.searchForm {
  font-size: 20px;
  font-weight: 100;
}

.searchText {
  width: 35%;
}

.searchButton {
  background-color: rgba(47, 47, 148, 0.774);
  color: #FFFFFE;
  cursor: pointer;
  padding: 2.5px 7px;
  font-size: inherit;
}